@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0fdf4;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbf7d0;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #86efac;
}

.linear-activity {
  overflow: hidden;
  margin: 5px auto;
}

.indeterminate {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.indeterminate:after {
  content: "";
  position: absolute;
  height: 100%;
  border-radius: 50%;
  background-color: #22c55e;
  animation: indeterminate_second 1.5s infinite ease-in;
}

@keyframes indeterminate_second {
  0% {
    left: -150%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
